<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7p3Hjxg_56w9naxZJSyN88KwMTt6Tphk</string>
	<key>GCM_SENDER_ID</key>
	<string>506515068352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vinnovate.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vinnovate-830ad</string>
	<key>STORAGE_BUCKET</key>
	<string>vinnovate-830ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506515068352:ios:e87edcc294506017656425</string>
</dict>
</plist>